@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);


html{
    scroll-behavior: smooth;
}

body {
    background: white;
}

#navg {
    background-color: white;
}

#logo1 {
    width: 9rem;
    margin-top: -1.5rem;
}

#logobrand {
    padding-top: .5rem;
    padding-bottom: .9rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    border: 1px outset orangered;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 32px;
}

.nav-item:last-child {
    margin-right: 100px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: grey;
}

@media (min-width: 577px){
    .navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
        border-bottom: 5px solid rgb(255, 148, 26);
        color: orange;
    }
    .navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
        border-bottom: 4px solid rgb(255, 148, 26);
        color: grey;
    }

}

@media (max-width: 576px){
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: orangered;
        border-left: 4px groove orange;
        box-shadow: 0px 2px 5px rgba(167, 158, 158, 0.3);

        
    }

    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        color: orangered;
        border-left: 4px groove orange;
        box-shadow: 0px 2px 5px rgba(167, 158, 158, 0.3);


}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, .25)
}
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 86, 3, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(248, 209, 189, 0.5);
}

.snip1250 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


.breadcrumb {
    background-color: white;
    box-shadow: 0px 5px 15px 0 rgb(223, 221, 221);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
}

.breadcrumb-item {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Josefin Sans", sans-serif;
}

.breadcrumb-item:hover {
    color: rgb(201, 109, 4) !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 80vh;
    background-color: rgba(74, 85, 98, 0.8);
    overflow: hidden;
    position: relative;
  }
  
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .carousel-item::before {
    content: '';
    background-color: rgba(74, 85, 98, 0.6);
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
  }
  
  #hero .container {
    text-align: center;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 68px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    text-shadow: -1px 0 goldenrod, 0 1px gold, 1px 0 white, 0 -1px goldenrod;
  }
  
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.6s;
    margin: 0 auto 30px auto;
    color: #fff;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
  }
  
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-left,
  #hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
    top: 112px;
  }
  
  @media (max-width: 992px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
      top: 66px;
    }
  }
  
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 36px;
    line-height: 1;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: .6;
    transition: 0.3s;
  }
  
  #hero .carousel-indicators li.active {
    opacity: 1;
    background: orangered;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: orangered;
  }
  
  #hero .btn-get-started:hover {
    background: orangered;
  }
  
  @media (max-width: 992px) {
    #hero {
      height: 80vh;
    }
    #hero .carousel-container {
      top: 8px;
    }
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 40px;
  }

  #hero p {
    font-size: 1em;
}
  }
  
  @media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }
  

button.snip0047 {
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button.snip0047 span {
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.8;
}

button.snip0047 i {
    font-size: 22px;
    right: 15px;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

button.snip0047:before {
    content: '';
    top: 0;
    right: 0;
    width: 0;
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

button.snip0047:hover span,
button.snip0047.hover span {
    -webkit-transform: translate3d(-20px, 0px, 0px);
    transform: translate3d(-20px, 0px, 0px);
    opacity: 1;
}

button.snip0047:hover i,
button.snip0047.hover i {
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

button.snip0047:hover:before,
button.snip0047.hover:before {
    width: 44px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

button.snip0047:active:before {
    background: rgba(255, 255, 255, 0.3);

}

button.snip0047.red {
    background-color: rgb(252, 86, 3);
}

input[type="radio"] {
    display: none;
}

.section-title {
    margin: 3rem 1.5rem;
}


.section-title>h2 {
    color: rgb(252, 86, 3);
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 350%;
}

.section-title>p {
    font-family: cursive;
}

.book .email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
}

.book .email-form .form-group {
    padding-bottom: 8px;
}

.book .email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.book .email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.book .email-form .error-message br+br {
    margin-top: 25px;
}

.book .email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.book .email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.book .email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.book .email-form input,
.book .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.book .email-form input {
    height: 44px;
}

.book .email-form textarea {
    padding: 10px 12px;
}

.book .email-form button[type="submit"] {
    background: #ffb03b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.book .email-form button[type="submit"]:hover {
    background: #ffa012;
}


.logo2>img {
    width: 9rem;
    margin-top: -4rem;

}

.list-group-item {
    background-color: transparent;
    border: 0;
    color: white;
}

.list-group {
    text-align: left;
}



.text-uppercase {
    color: rgb(250, 185, 21);
    font-family: 'Alata', sans-serif;
}

label {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid orange;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(161, 161, 161, 0.3), 0 7px 21px 0 rgba(247, 201, 176, 0.2);


}

label>span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid orangered;
    border-radius: 50%;
    margin-right: 30px;
}

input[type="radio"]:checked+label {
    background: rgba(252, 86, 3, 0.7);
    color: white;
}

input[type="radio"]:checked+label>span {
    background: rgb(172, 48, 2);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
#messagetext:focus,
.uneditable-input:focus {
    border-color: rgba(252, 86, 3, 0.7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

#footer {
    background: #4a5562;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

.footer-info li {
    text-align: left;
}

#footer .footer-top {
    background: #515d6a;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

.footer-info li {
    text-align: left;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: orangered;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 8px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: white;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #d9232d;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #df3740;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}

#footer .credits a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    font-weight: 600;
}

#footer .credits a:hover {
    color: white;
}

.footer-info img {
    width: 9rem;
}

.footer-links a:hover {
    color: orangered;
}

/* Index page styles */



#more {
    text-decoration: none;
    color: rgb(94, 63, 4);
    margin-left: 1rem;
}

#more:hover {
    text-decoration: underline;
    color: darkslategrey;
}


#infobtn:active, #infobtn2:active{
    border: none;
    color: orange;
}


.btn-primary {
    color: rgb(252, 86, 3);
    font-family: 'Alata', sans-serif;
    border: none;
    background-color: transparent;
}

.btn-primary:hover {
    color: rgb(253, 80, 0);
    background-color: rgba(161, 161, 161, 0.3);
}

.btn-primary:active {
    color: gold;
    background-color: rgb(230, 210, 161);
}

@media (min-width:576px) {
    .custjumb {
        padding: 7rem 2rem 21rem 2rem;
    }
}

.map-container-7 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-7 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#contact {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: rgb(2, 80, 80);
    margin: 4rem auto -20rem 1.25rem;
}

#send {
    border-color: darkgoldenrod;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-weight: bold;
}

#send:hover {
    font-size: larger;
    box-shadow: .5px .5px 2px goldenrod;
    background-color: rgb(7, 110, 112);
    color: white
}

#send:active {
    font-size: smaller;
    box-shadow: .5px .5px 2px goldenrod;
    background-color: white;
    color: rgb(35, 64, 65);
}

